{% extends "messages.html" %}

{% block first_level_content %}
<div class="messages">
    <div class="user-conversation-header">
      <img src="{{ user.profile_picture.url }}" alt="Profile picture">
      <p>Chat with {{ user.username }}</p>
    </div>
  </div>

  <div class="users-messages">

    <!-- <div class="user-message">
      <div class="user-conversation-header">
        <img src="{{ user.profile_picture.url }}" alt="Profile picture">
        <p>Bro I started learning sign language last week!</p>
      </div>
    </div>-->

    <div class="other-user-message">
      <div class="user-conversation-header">
        <p id="chatMessage">hi</p>
        <img src="{{ user.profile_picture.url }}" alt="Profile picture">
      </div>
    </div>

  </div>


  <div class="message-input">
    <textarea id="messageInput"></textarea>
    <i id="sendMessage" class="fa-solid fa-paper-plane"></i>
  </div>

</div>

{% endblock %}